<?xml version="1.0" encoding="UTF-8"?>
<hudson.model.ListView>
  <name>{{ JENKINS_LISTVIEW_NAME }}</name>
  <filterExecutors>false</filterExecutors>
  <filterQueue>false</filterQueue>
  <properties class="hudson.model.View$PropertyList"/>
  <jobNames>
    <string>{{ JOB_PREFIX }}-Build</string>
    <string>{{ JOB_PREFIX }}-Test-EAP</string>
    <string>{{ JOB_PREFIX }}-Deploy-Dev</string>
    <string>{{ JOB_PREFIX }}-Deploy-Stg</string>
  </jobNames>
  <jobFilters/>
  <columns>
    <hudson.views.StatusColumn/>
    <hudson.views.WeatherColumn/>
    <hudson.views.JobColumn/>
    <hudson.views.LastSuccessColumn/>
    <hudson.views.LastFailureColumn/>
    <hudson.views.LastDurationColumn/>
    <hudson.views.BuildButtonColumn/>
  </columns>
  <recurse>false</recurse>
</hudson.model.ListView>
