<?xml version="1.0" encoding="UTF-8"?>
<hudson.model.ListView>
  <name>{{ jenkins_listview_name }}</name>
  <filterExecutors>false</filterExecutors>
  <filterQueue>false</filterQueue>
  <properties class="hudson.model.View$PropertyList"/>
  <jobNames>
    <string>{{ job_prefix }}-Build</string>
    <string>{{ job_prefix }}-Test-EAP</string>
    <string>{{ job_prefix }}-Deploy-Dev</string>
    <string>{{ job_prefix }}-Deploy-Stg</string>
  </jobNames>
  <jobFilters/>
  <columns>
    <hudson.views.StatusColumn/>
    <hudson.views.WeatherColumn/>
    <hudson.views.JobColumn/>
    <hudson.views.LastSuccessColumn/>
    <hudson.views.LastFailureColumn/>
    <hudson.views.LastDurationColumn/>
    <hudson.views.BuildButtonColumn/>
  </columns>
  <recurse>false</recurse>
</hudson.model.ListView>
